<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Family Viewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6616711A1B2E64D000714530</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>666167741CBAB0F600C8939F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>668AA3101B3A34A400EDB412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66AC74711B9BA09D0084B59E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66AC747F1B9BA15F0084B59E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
